header{
    display: flex;
    height: 64px;
}

.header-container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: flex;
    gap: 50px;
}

li a{
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.s-1{
    background-image: url(/images/Rectangle\ 1.jpg);
    height: 606px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
}

.text-wrap h1{
    margin-bottom: 31px;
    color: #FFF;
    font-family: Helvetica;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.text-wrap h3{
    color: #FFF;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}


.s2-container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}


.left-box{
    width: 235px;
    
}

.left-box h2{
    margin-top: 9px;
    margin-bottom: 37px;
    color: #010101;
    font-family: Helvetica;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}

.left-box p{
    color: #636060;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.left-box h3{
    color: #636060;
    font-family: Helvetica;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.right-box{
    width: 924px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 56px 0;
}

.card{
    width: 286px;
}

.card img{
    width: 100%;
}

.card h3{
    margin-top: 23px;
    margin-bottom: 9px;
    color: #343232;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card p{
    color: #636060;
    font-family: Helvetica;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
